@mixin vertical {
  font-size: 0;
  text-align: center;
  .help {
    display: inline-block;
    vertical-align: middle;
  }
  &:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: .1%;
    height: 100%;
    margin-left: -.1%;
  }
}




