// fonts
$primary_font: 'Open Sans', 'Arial', sans-serif;

// colors
$bg: #131934;
$dark: #0c0f1f;
$primary_color: #f8ff13;
$warning_color: #FF7676;
$hover_color: #FAEB00;
$green: #00D56E;
$blue: #3c4ffb;
