.PopularFilmsBlock {
  padding: 0 0 40px;
  @media only screen and (min-width:1025px) {
    overflow: hidden;
  }
  .BlockHeader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 30px;
    &__actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 0;
    }
    &__link {
      font-size: 16px;
      padding: 0 0 2px;
      color: rgba(#01b4e4, 0.8);
      border-bottom: 1px solid rgba(lighten(#01b4e4, 10%), 0.5);
      transition: all 0.2s ease-in 0s;
      &:hover {
        color: lighten(#01b4e4, 10%);
        border-bottom-color: transparent;
      }
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0 0;
  }
  h2 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }



  .slider {
    position: relative;
    min-height: 360px;
    margin: 0 -10px;
  }

  .vertical {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slideItem {
    padding: 0 10px 10px;
  }

  .Arrows {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: 0;
    color: rgba(#01b4e4, 0.8);
    transition: all 0.2s ease 0s;
    &:hover {
      color: lighten(#01b4e4, 10%);
    }
    > span {
      color: inherit;
      font-size: 12px;
    }
  }
  .arrow-left {

  }
  .arrow-right {

  }
}